@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';




html {
    overflow: hidden;
   
}

html {
    margin: 0;
    padding: 0}



html, body {
  font-family: 'Roboto Mono', monospace;
  background: #ffffff;
  height: 100%;
  margin: 0px;
}
  
.container {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
left: 50%;
top: 40%;
transform: translate(-50%, -50%);
margin: 0 auto;
text-align: center;


}
.text {
  font-weight: 100;
  font-size: 28px;
  color: #FAFAFA;
 
}

.gw-glitched {
  color: #757575;
}



      
         
      

  
