:root {
    --grey: #1f2025;
    --white: #ffffff;
    --black: #222222;
    --greyfont: #d3d3d3;
    
  }

  * {
    color: var(--fontColor);
    font-family: 'JetBrains Mono', monospace;
  }
  body {
      background: var(--bg);
  }

body {
@font-face {
    font-family: JetBrains Mono;
    src: url(https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap);
}
font-family: 'JetBrains Mono', monospace;
}

ul {
    font-family: 'JetBrains Mono', monospace;
}

li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }
  
  .light-theme {
    --bg: var(--white);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--greyfont)
  }
  .dark-theme {
    --bg: var(--grey);
    --fontColor: var(--greyfont);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
  
  }
  
  .btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg)
    ;
  }
  
  .btn:focus { outline-style: none; }


